body {
    font-family: 'Courier New', Courier, monospace;
    background: aqua;
  }
  
  .container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 50px;
    }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .register-form label {
    display: block;
    margin: 10px 0 5px;
    color: blueviolet;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .register-form input:focus {
    border-color: rgb(2, 246, 2);
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background:blue;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background: skyblue;
  }